table {
  border-collapse: collapse;
  width: 100%;
}

@media (max-width: 1235px) {
  .example-container {
    max-width: 100%;
    overflow: auto;
    width: 1000px;
  }

  .createButton {
    margin: 2%;
    position: absolute;
    top: 1rem;
  }

}

@media (max-width: 1024px) {
  .example-container {
    max-width: 100%;
    overflow: auto;
    width: 800px;
  }

  table {
    width: 800px;
  }

  td.cdk-column-action {
    padding-right: 8px;
    width: 20px;
  }

  th.mat-column-name,
  td.mat-column-name {
    padding-left: 8px;
  }

  .mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }

  .mat-column-id {
    border-right: 1px solid #e0e0e0;
  }

  .mat-mdc-paginator {
    margin-top: 20px;
    position: absolute;
    z-index: 10;
  }
}

@media (max-width: 830px) {
  .example-container {
    max-width: 100%;
    width: 550px;
  }
}

@media (max-width: 580px) {
  .example-container {
    max-width: 100%;
    width: 320px;
  }

}