
<div class="example-container  mat-elevation-z" >

  <div>
    <a class="createButton" mat-raised-button color="primary" (click)="Openpopup('')">Create New </a>
  </div>
  <table mat-table [dataSource]="allCompanies$"  tabindex="0">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef  >ID</th>
      <td mat-cell *matCellDef="let element">{{element?.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef  >Company Name</th>
      <td mat-cell *matCellDef="let element">{{element?.name}}</td>
    </ng-container>

    <ng-container matColumnDef="orgurl">
      <th mat-header-cell *matHeaderCellDef  >Organisation Url</th>
      <td mat-cell *matCellDef="let element">{{element?.orgurl}}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{element?.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{element?.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{element?.email}}</td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{element?.telephone}}</td>
    </ng-container>

    <ng-container matColumnDef="updatedTs">
      <th mat-header-cell *matHeaderCellDef>Update Date</th>
      <td mat-cell *matCellDef="let element">{{element?.updatedTs}}</td>
    </ng-container>

    <ng-container matColumnDef="address" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{element?.address}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</div>
